<mat-toolbar class="header mat-elevation-z4">
  <span>
    <img class="image-left" src="assets/harry.png" alt="Harry fan art" />
  </span>
  <div class="header-center">
    <span>
      <a>
        <img class="logo" src="../../../../assets/logo.png" alt="logo" />
      </a>
    </span>
    <span class="text-logo">
      <p>Tudo sobre a saga mais amada do mundo</p>
    </span>
  </div>
  <span>
    <img
      class="image-right"
      src="assets/hogwarts_logo.png"
      alt="Harry fan art"
    />
  </span>
</mat-toolbar>
