<html>
  <section class="home-section">
    <h1 class="home-title">
      Explore e se divirta com seus personagens favoritos!
    </h1>
    <div class="filter-content">
      <h1 class="filter-title">Filtro</h1>
      <mat-form-field appearance="fill">
        <mat-label>Casa</mat-label>
        <mat-select>
          <mat-option value="option1">Grifinória</mat-option>
          <mat-option value="option2">Sonserina</mat-option>
          <mat-option value="option3">Corvinal</mat-option>
          <mat-option value="option3">Lufa-Lufa</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-card class="card-style">
      <mat-card-content class="card-content">
        <img
          class="image"
          src="http://hp-api.herokuapp.com/images/harry.jpg"
          mat-card-image
        />
        <div class="information">
          <h1 class="character-name">Harry Potter</h1>
          <h1 class="character-author">Daniel Redcliff</h1>
        </div>
      </mat-card-content>
    </mat-card>
  </section>
</html>
