.home-section {
  background-color: #44443b;
  height: 100%;
}

.home-section .home-title {
  text-align: center;
  padding-top: 2rem;

  font-weight: 500;
  font-size: 2rem;
}

.filter-content {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  max-width: 300px;
  position: relative;
  justify-content: space-between;
  margin-left: 18.5%;
}

.filter-content .filter-title {
  font-family: Poppins;
  margin-top: 0.8rem;
}

.card-style {
  width: 60%;
  height: 15rem;

  display: flex;
  flex-direction: row;

  text-align: center;
  margin-top: 1rem;
  margin-left: 18.5%;

  border: 2.25px solid black;
  border-radius: 12;
}

.card-style .card-content {
  padding: 2rem;
  display: flex;
  flex-direction: row;
}

.card-style .image {
  width: 13rem;
  height: 13rem;

  border: 1.5px solid black;
  border-radius: 5%;
}
