<html>
  <section class="home-section">
    <h1>Conheça, explore e se aventure pelas casas da sua saga favorita</h1>
    <h2>Cada casa tem seus respectivos personagens.</h2>
    <div class="filter-content">
      <h1 class="filter-title">Filtro</h1>
      <mat-form-field appearance="fill">
        <mat-label>Casa</mat-label>
        <mat-select>
          <mat-option value="option1">Grifinória</mat-option>
          <mat-option value="option2">Sonserina</mat-option>
          <mat-option value="option3">Corvinal</mat-option>
          <mat-option value="option3">Lufa-Lufa</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-card class="card-content">
      <mat-card-content>
        <h1>Uhul</h1>
      </mat-card-content>
      <img
        class="image"
        src="http://hp-api.herokuapp.com/images/harry.jpg"
        mat-card-image
      />
    </mat-card>
  </section>
</html>
